body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: cover;
    animation: gradient 10s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    animation: 1s slide-right .3s forwards;
    transform:translateX(-150%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}


.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #23a6d5;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #23d5ab;
}
.login-container .forgot-password,
.login-container .signup {
    margin-top: 10px;
}

.login-container .forgot-password a,
.login-container .signup a {
    color: #23a6d5;
    text-decoration: none;
}

.login-container .forgot-password a:hover,
.login-container .signup a:hover {
    text-decoration: underline;
}